/* src/styles.scss */
body {
  background-color: #121212;
  color: white;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

mat-card {
  background-color: #1e1e1e !important;
  color: white !important;
}
